* {
    font-family: Poppins;
}

body {
    margin:0;
    padding: 0;
}

.welcome-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background: rgba(58, 12, 163);
    color: white;
    gap: 20px;
    align-items: center;
}

.icons-header {
    font-size: 30px;
    margin-right: 3px;
    color: white;
}

.location-section > p,.contact-section > p {
    margin:0;
}

.location-section > i,.contact-section > ul > li > i {
    margin-right: 10px;
}

.location-section {
    position: absolute;
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-section {
    position: absolute;
    right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-section > ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

nav > img {
    width: 160px;
    margin-left: 4vw;
}

.login-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-section > i {
    font-size: 35px;
    margin-right: 1vw;
}

nav > button {
    margin-right: 4vw;
    width: 170px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

nav > button:hover {
    box-shadow: rgba(80, 63, 205, 3) 0 1px 30px;
    transition-duration: .1s;
}

.fade-background {
    background: linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(67, 97, 238, 0.30) 100%);
    border-bottom-left-radius: 35vw;
    border-bottom-right-radius: 35vw;
    height: 50vw;
}

.wrapper {
    padding: 0 4vw;
    padding-top: 4vw;
    display: flex;
    align-items: start;
    justify-content: center;
}

.text-section {
    flex: 1;
    padding-right: 4vw;
}

.text-one {
    margin-top:0;
    margin-bottom: 5vw;
    font-weight: 400;
    font-size: 1.5vw;
    color: rgb(67, 97, 238);
}

.text-two {
    margin-top:0;
    margin-bottom:0;
    font-weight: 800;
    font-size: 4vw;
    line-height: 4vw;
    color: black;
}

.text-three {
    margin-bottom:0;
    font-size: 1vw;
    font-family: Poppins;
    color: rgb(128, 128, 128);
}

.photo-section > img {
    width: 40vw;
    border-radius: 4vw;
    object-fit: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.wrapper-two {
    padding: 0 4vw;
    padding-top: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    height: 5vw;
    background-color: white;
    border-radius: 130px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 5vw;
}

.first-con > img{
    width: 8vw;
    margin-right: 1vw;
}

.first-con > p{
    font-size: 0.8vw;
}

.second-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 13vw;
    height: 5vw;
    background-color: white;
    border-radius: 130px;
    padding-left: 3vw;
    padding-right: 1vw;
}

.second-con > img{
    width: 3vw;
    margin-right: 1vw;
}

.second-con > p{
    font-size: 0.8vw;
}

.text-collab {
    padding: 0 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-collab > p{
    font-size: 2vw;
    color: rgb(128, 128, 128);
}

.gray-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

.gray-logos > img {
    width: 8vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

footer {
    height: 15vw;
    background-color: rgb(48, 64, 136);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-footer > img {
    width: 9vw;
    margin-left: 5vw;
}

.footer-info-list {
    color: white;
    font-size: 0.8vw;
}

.footer-info-list > ul {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    list-style-type: none;
    background-color: rgb(103,105,207,0.2);
    border-radius: 10px;
    padding: 1vw;
}

.second-footer {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    color: white;
    font-size: 0.7vw;
}

.second-footer > img {
    width: 9vw;
    margin-top: 1vw;
    align-self: center;
    background-color: rgb(255,255,255,0.9);
    border-radius: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.mobile-section-one {
    display: none;
}

.mobile-section-one > img {
    display: none;
}

.mobile-section-one > button {
    display: none;
}

.mobile-footer {
    display: none;
}

@media (max-width: 768px) {
    .welcome-header {
        display: none;
    }

    nav {
        display: none;
    }

    .mobile-section-one {
        display: block;
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-section-one > img {
        display: block;
        margin-top: 8vw;
        width: 200px;
    }

    .mobile-section-one > button {
        display: block;
        margin-top: 5vw;
        width: 170px;
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
        border-radius: 40px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        height: 3rem;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .first-con {
        display: none;
    }

    .fade-background {
        background: linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(67, 97, 238, 0) 0%);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-section{
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .text-one {
        font-size: 5vw;
    }

    .text-two {
        font-size: 10vw;
        line-height: 10vw;
    }

    .text-three {
        font-size: 2vw;
    }

    .photo-section {
        margin-top: 5vw;
    }

    .photo-section > img {
        width: 75vw;
        border-radius: 4vw;
        object-fit: cover;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .second-con {
        width: 26vw;
        height: 10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .second-con > img {
        width: 8vw;
    }

    .second-con > p {
        font-size: 1.5vw;
    }

    .mobile-footer {
        padding-top: 5vw;
        padding-bottom: 3vw;
        background-color: rgb(103, 105, 207, 0.2);
        margin-top: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-footer > img {
        width: 12vw;
    }

    .mobile-footer > p {
        font-size: 2vw;
    }

    .text-collab {
        display: none;
    }

    .gray-logos {
        display: none;
    }

    footer {
        display: none;
    }

    body {
        background-image: url('mobile-back.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}