
* {
    font-family: Poppins;
}

main {
    padding-top: 5vw;
}

body{
    background-image: url(back_login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mk18-logo > img {
    width: 10vw;
    margin-bottom: 2vw;
}

.choice-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25.5vw;
    height: 4vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.5vw 1.5vw 0 0;
    border-bottom: 0.075vw solid rgba(0, 0, 0, 0.1);
}

.login {
    font-size: 1.05vw;
    font-weight: 600;
    color: rgb(163, 162, 167);
    margin-right: 4.5vw;
    border: 0;
    background-color: white;
}

.register {
    font-size: 1.05vw;
    font-weight: 600;
    color: rgba(58, 12, 163);
    border: 0;
    background-color: white;
    transition: color;
}

.login:hover {
    color: rgba(58, 12, 163);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25.5vw;
    height: 33vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 1.5vw 1.5vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.input-box {
    margin-top: 1.5vw;
}

.input-box > input {
    border: none;
    border-radius: 0.4vw;
    background-color: rgb(212, 212, 212, 0.4);
    height: 2.5vw;
    width: 17vw;
    padding-left: 0.5vw;
    font-size: 0.7vw;
}

.input-box > i {
    font-size: 1.05vw;
    margin-right: 0.7vw;
}

.remember-forgot {
    align-self: start;
    font-size: 0.6vw;
    display: flex;
    gap: 7vw;
    align-items: start;
    justify-content: center;
    margin-top: 1.1vw;
    margin-bottom: 3.5vw;
}

.remember-forgot label input {
    margin: 0;
    margin-right: 0.3vw;
    width: 1.9vw;
    height: 0.85vw;
}

.remember-forgot > label > p {
    margin: 0;
}

.remember-forgot > label {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.remember-forgot > a {
    text-decoration: none;
    color: black;
}

.remember-forgot > a:hover {
    color: rgba(58, 12, 163);
}

.id-info {
    width: 17vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-size: 0.8vw;
    font-weight: 500;
    color: rgba(58, 12, 163);
    text-align: center;
}

.login-btn {
    border: none;
    background-color: rgba(58, 12, 163);
    height: 2.5vw;
    width: 14vw;
    border-radius: 2vw;
    color: white;
    font-size: 0.8vw;
}

@media (max-width: 768px) {
    .mk18-logo > img {
        width: 45vw;
        margin-bottom: 6vw;
    }

    .choice-section {
        width: 85vw;
        height: 20vw;
        border-radius: 1.5vw 1.5vw 0 0;
        border-bottom: 0.075vw solid rgba(0, 0, 0, 0.1);
    }

    .login {
        font-size: 4vw;
        margin-right: 15vw;
    }
    
    .register {
        font-size: 4vw;
    }

    .login-form {
        width: 85vw;
        height: 160vw;
        border-radius: 0 0 4.5vw 4.5vw;
    }
    
    .input-box {
        margin-top: 8vw;
    }

    .input-box > input {
        border-radius: 1.2vw;
        height: 13vw;
        width: 55vw;
        padding-left: 4vw;
        font-size: 4vw;
    }
    
    .input-box > i {
        font-size: 5vw;
        margin-right: 6vw;
    }
    
    .remember-forgot {
        font-size: 3vw;
        gap: 12vw;
        margin-top: 6vw;
        margin-bottom: 28vw;
    }

    .remember-forgot label input {
        margin-right: 0.9vw;
        width: 11.4vw;
        height: 5.1vw;
    }

    .id-info {
        width: 55vw;
        margin-top: 9vw;
        margin-bottom: 5vw;
        font-size: 3vw;
    }
    
    .login-btn {
        height: 15vw;
        width: 60vw;
        border-radius: 14vw;
        font-size: 5vw;
    }
}
