
* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

nav > button {
    display:none;
}

aside > button {
    display: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
}

nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: rgb(239,243,246);
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.user-info > i {
    font-size: 2em;
    color: rgb(110,0,255);
}

aside {
    height: 100vh;
    top: 0px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(110,0,255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mk18-logo > img {
    width: 10em;
}

.mk18-logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
    background-color: rgba(255, 255, 255, 0.864);
    border-radius: 5em;
    width: 12em;
    height: 3em;
}

aside > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.2em;
}

aside > ul > li {
    display: flex;
    align-items: center;
    width: 180;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

aside > ul > li:hover {
    background-color: white;
    color: rgb(110,0,255);
    cursor: pointer;
}

aside > ul > li > i {
    margin-right: 2em;
}

main {
    grid-area: main;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em;
    background-image: url(back_login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 3vw;
}

.list-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
}

.info-one {
    background-color: #dddddd;
    height: 5vw;
    width: 25vw;
    border-radius: 1vw;
    padding: 1em;
    margin-right: 2em;
    font-size: 1.4em;
}

.info-two {
    background-color: #dddddd;
    height: 5vw;
    width: 25vw;
    border-radius: 1vw;
    padding: 1em;
    margin-right: 2em;
    font-size: 1.4em;
}

.number {
    font-weight: 800;
}

.list {
    margin-top: 3em;
    margin-bottom: 3em;
}

.list > table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(110,0,255);
    color:white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.edit {
    color: blue;
}

footer {
    grid-area: footer;
    background-color: rgb(239,243,246);
    padding: 1em;
}

@media(max-width: 1300px){
    body > nav > p{
        display: none;
    }

    main{
        background-image: url(mobile_back.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    main > h1 {
        font-size: 5vw;
    }

    .list-info > .info-one > p{
        font-size: 1.8vw;
    }

    .list-info > .info-two > p{
        font-size: 1.8vw;
    }
}

@media(max-width: 768px){
    
    main{
        padding-top: 1em;
    }

    main > h1 {
        font-size: 8vw;
    }

    .list-info {
        margin-top: 0.5em;
    }

    .list-info > .info-one > p{
        font-size: 1.99vw;
    }

    .list-info > .info-two > p{
        font-size: 1.99vw;
    }

    body{
        grid-template-columns: 1fr;
    }
    
    nav > button{
        display: block;
    }

    aside > button {
        display: block;
    }

    aside{
        position: fixed;
        width: 300px;
        display: none;
    }

    aside > button {
        font-size: 2.5em;
        margin-bottom: 1em;
        margin-left: 3em;
        border:none;
        background: none;
        color: white;
    }

    .mk18-logo {
        margin-left: 3em;
        margin-bottom: 1em;
    }

    .show{
        display: block;
    }
}